In [1]:
print("hello")

hello

In [3]:
age = 23
print("my age is ",age-1)

my age is  22

In [4]:
# f string
print(f"my age is {age}")

my age is 23

In [7]:
## format
name="Akash"
print("my name is {} and my age is {}".format(name,age))

my name is Akash and my age is 23

In [8]:
print("my name is {firstname} and my age is {firstage}".format(firstname=name,firstage=age))

my name is Akash and my age is 23

In [9]:
degree="b.tech"

print("my name is {} my age is {} and I have completed my {} in 2024" .format(age , degree))

In [10]:
print("my name is {} my age is {} and I have completed my {} in 2024" .format(name,age , degree))

my name is Akash my age is 23 and I have completed my b.tech in 2024

In [3]:
## control flow
## decision making statements

In [8]:
age=19
if age>=18 :
    print("you can drive")

you can drive

In [9]:
input()

 akash

'akash'

In [10]:
input(age)

19 12

'12'

In [16]:
age=int(input("enter the age"))

enter the age 45

In [18]:
type(age)

int

In [24]:
age=int(input("enter the age"))
if age>=18 and age<=45:
    print("you are young")
else:
    print("your appllication is rejected")

enter the age 45

you are young

In [4]:
amount=int(input("enter the product price :"))

if amount>3000:
    if amount==4000:
    print("you get the goa trip")
    print("you will get 20% off \n product price is " ,0.8*amount)
elif amount>=2000 and amount<=3000:
    print("you will get 30% off \n product price is " ,0.7*amount)    
else:
    print("you will get 40% off \n product price is " ,0.6*amount)

enter the product price : 4000

you get the goa trip
you will get 20% off
 product price is  3200.0

# loops

### 1.while loop

In [6]:
joining_age=25
while joining_age<=55:
    joining_age=joining_age+1
    print(joining_age)
    
else:
    print("now its your time to retire!!")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
now its your time to retire!!

In [7]:
wallet=1000
while wallet !=0:
    wallet=wallet-100
    print(wallet)
else:
    print("sorry..!! no money left")

900
800
700
600
500
400
300
200
100
0
sorry..!! no money left

## 2. for loop

In [1]:
## basics of list
list = ["Akash",1,66,4,"soni","Ujjwal"]

In [2]:
type(list)

list

In [4]:
list[2]

66

In [5]:
## basic of for loop
for x in list:
    print(x)

Akash
1
66
4
soni
Ujjwal

In [6]:
## example 2

fruits=["mango","cherry","banana","guava"]

In [14]:
for x in fruits:
    print("The fruit is ",x)

The fruit is  mango
The fruit is  cherry
The fruit is  banana
The fruit is  guava

In [10]:
fruits[2]

'banana'

In [11]:
name='phillippinnes'

In [17]:
for x  in name:
    print(x,end=" ")

p h i l l i p p i n n e s

In [18]:
## range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [23]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [29]:
n=7
for i in range(0,n):
    for j in range(0,n):
        print("*",end="")
    print("\r")

*******
*******
*******
*******
*******
*******
*******

In [31]:
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")    
for i in range(0,n):
    for j in range(0,n):
        print("@",end="")
    print("\r")

*
**
***
****
*****
******
*******
@@@@@@@
@@@@@@@
@@@@@@@
@@@@@@@
@@@@@@@
@@@@@@@
@@@@@@@

In [10]:
n=int(input("enter the size of the pyramid: "))
for i in range(1,n):
    for j in range(1,n):
        if j<n-i:
            print(" ",end="")
        else:
            print("*",end="")
    print("\r")

enter the size of the pyramid:  9

       *
      **
     ***
    ****
   *****
  ******
 *******
********

In [20]:
## equilateral triangle
n=int(input("enter the size of the pyramid: "))

for i in range(1,n):
    for j in range(1,n-i):
        print(" ",end="")
    for j in range(1,i):
        print("* ",end="")
    for j in range(1,n-i):
        print(" ",end="")
    print("\r")

enter the size of the pyramid:  20

                 *
                * *
               * * *
              * * * *
             * * * * *
            * * * * * *
           * * * * * * *
          * * * * * * * *
         * * * * * * * * *
        * * * * * * * * * *
       * * * * * * * * * * *
      * * * * * * * * * * * *
     * * * * * * * * * * * * *
    * * * * * * * * * * * * * *
   * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *

In [17]:
n=20
for i in range(1, 11):
    print(' '*n, end='') # repet space for n times
    print('* '*(i)) # repeat stars for i times
    n-=1

                    *
                   * *
                  * * *
                 * * * *
                * * * * *
               * * * * * *
              * * * * * * *
             * * * * * * * *
            * * * * * * * * *
           * * * * * * * * * *